body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

textarea {
  resize: vertical;
}

button,
[role='button'] {
  cursor: pointer;
}

button:disabled,
[aria-disabled='true'] {
  cursor: not-allowed;
}
